.about, .github, .design, .contact {
    color: black;
    display: inline;
    font-size: 14px;
    font-family: normal normal normal 1rem/1.6 -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar-nav>.myNav, .logo, .navbar-nav {
    padding-left:20px;
    padding-right:20px;
  }

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0px;
  }