.title{
    padding: 10px 0 ;
}
.iframe{
    height: 60vh;
}
.desc{
    padding: 10px 0;
<<<<<<< Updated upstream
    height: 25vh;
=======
>>>>>>> Stashed changes
    overflow: scroll;
}

.project-container{
    padding-top: 20px;
}