/*MOBILE MENU*/

/* Menu Icon position*/
.myMenuIcon{
	position: absolute;
	top:10px;
	right:20px;
}

/* Icon navigation Desktop*/
@media screen and (min-width: 600px) {
	.myMenuIcon{
		visibility: hidden;
	}
	.github, .contact, .about, .design{
		visibility: visible;
  }
  .subMenu,.subMenuResponsive{
	visibility: hidden !important;
	position:fixed !important;
}
}
/* End of icon navigation desktop*/

/* Icon navigation Mobile*/
  @media screen and (max-width: 599px) {
		.myMenuIcon{
			visibility: visible;
			z-index: 1;
	}
	.myNav{
		position: absolute;
		top: -9999px;
		left: -9999px;

	}
}


/*End of icon navigation mobile*/

/*Mobile menu on click stuff*/
.subMenu{
	position:fixed;
	visibility: hidden;
}
.subMenuResponsive{
	display: grid;
	grid-template-columns:3fr 1fr;
	visibility: visible;	
	position: relative;
	padding-top: 10px;
    padding-right: 50px !important;

}
.subMenuResponsive > ul{
	list-style: none;
	letter-spacing: .1rem;
	font-size:16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 20px;
	text-decoration: none !important;
}

.subMenuList{
	grid-column:  2 / 3;
	border-left: 1px solid black;
}
/*END OF MOBILE MENU*/

/*INDEX PAGE*/

.aligner {

	display: flex;
	max-height: 100%;
	min-height: 90vh;
	/* background-color: aqua; */
}


/*Index Page container*/
.indexContainer {

	align-self:center;
	max-width: 75%;
	min-height: 1px;
	padding-left:4vw;


}

/* .indexContainer_Name{
grid-column: 1/2;
}
.indexContainer_Desc{
grid-column: 1/2;
}
.indexContainer_Contact{
grid-column: 1/2;
} */

/*Index page font stuff*/

/*default font stuff*/
body{
	font-family: helvetica, sans-serif;
	cursor: default;
	}

a{
	text-decoration: none;
	color: black;
}
	
	.indexContainer_Name{
		font-size: calc(3.6em + 1vw);
		line-height:calc(1em + 1vw);
		font-weight: normal;
		margin: 0;
	}
	.indexContainer_Links{
		font-size: calc(2.5em + 1vw);
		line-height:calc(1.2em + 1vw);
		font-weight: normal;
		margin-bottom:1rem;
	}
	.indexContainer_Desc{
		font-size: calc(1.5em + 1vw);

	}
	h1 > a:hover{
		border-bottom: 4px solid rgb(0, 0, 0);

	}
	h2 > a:hover{
		border-bottom: 4px solid rgb(0, 0, 0);

	}
	h1{
		margin: 0;
	}
	h2{
		font-size: calc(1em + 1vw);
		line-height:calc(1.5em + 1vw);
		font-weight:lighter;
		margin: 0;
	}
/*End of index page font stuff*/

/*END OF INDEX PAGE*/


/*NAVIGATION*/

/*Nav grid*/
.nav{
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(100px,110px));
	margin: 2vw 4vw 0vw 4vw;

}

/*This aligns the individual characters that make up the words in the nav*/
.myNav {
	width : 1fr;
	max-width: 25vw;
	display:inline-block;	
	vertical-align:top;
}

/*Nav fonts stuff*/
.github, .contact, .about, .design{
	color:black;
	font-family: helvetica;
	font-size: 12px;	
	display:inline-block;	
}

/*Nav link decoration*/
a {
 text-decoration: none !important;
}

/*Contact cursor*/
#myContact{
cursor: copy
}

/* on hover stuff for Contact copy to clipboard*/
span[copyEmail] {
	position: relative;
	text-decoration: none;
	cursor: copy;
}
	
span[copyEmail]:hover::after {
	content: attr(copyEmail);
	position: absolute;
	left: -12px;
	top: 14px;
	min-width: 200px;
	padding: 12px;
	color:black;
	font-family: helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
}

/*END OF NAVIGATION*/

/*DESIGN PAGE LAYOUT*/

/*Grid settings for Design layout - Desktop*/
@media screen and (min-width: 600px) {
	.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

	margin: 0 4vw 0 4vw;
	}
}
/*End of grid settings for design layout - Desktop*/

/*Grid settings for Design layout - Mobile*/
@media screen and (max-width: 599px) {
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	margin: 0 4vw 0 4vw;
	}
}	
/*End of grid settings for Design layout - Mobile*/


.container div {
margin: 2vw;
border: 1px white solid;
}

.container > div > img {
width: 100%;
height: 100%;
object-fit: cover;
}


/*
currently not using iframes but will be usefull when I decide to implement the projects page. 
.container > div > iframe {
min-height: 500px;
height: 100%;
width: 100%;
object-fit: cover;
}
*/

/*Slide show cursors*/
.containerCarousel{
	position: relative;
	cursor: pointer;
}



#left01,#left02,#left03,#left04,#left05,#left06{ 
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
}

#right01,#right02,#right03,#right04,#right05,#right06{
    height: 100%;
    left: 50%;
    width: 50%;
    position: absolute;
    z-index: 1;
}
/*END OF DESIGN PAGE LAYOUT*/

