/* 
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
    height: 96vh;
}


.screenDiv{
    grid-row: 1 / 1;
    grid-column: 2 / 5; 
    background-color: #f1f1f1 ;
    min-height: 5rem;  
    height: 1fr;
    border-radius: 1vh;
}
#screen{
    padding-right: 1.5rem;
    height:100%;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: right;
    cursor: default;
}

.buttons{
    width:1fr;
    height:1fr;
}

.buts{
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    border:none;
    background-color: #f1f1f1 ;  
    font-size: 22px;
}

.buts:hover {
    background-color: #e6e6e6; 
    cursor: pointer;
}

.operator {
    background-color:lightgray;
}

.operator:hover {
    background-color: #c6c6c6; 
}
#equal {
    background-color:#9ed2fa;
}

#equal:hover {
    background-color:#82bded;
} */


/* 
.buts{

    border-radius: 1vh;
    border:none;
    background-color: #f1f1f1 ;  
    font-size: 22px;
    padding: 0px !important;

} */


.btn-group.btn-row {
    display: flex;
  }
  
  .btn-row .btn {
    flex: 1
  }

  #screen{

    font-size: 28px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: right;
    cursor: default;

}

.top-right{
    border-radius: 0 4px 0 0 !important;
}

.mid-right{
    border-radius: 0 !important;
}

.bottom-right{
    border-radius: 0 0 4px 0 !important;

}

.btn{
    height: 18vh;
    font-size: 28px !important;
}
