.but{
    background-color: #f1f3f4 !important;
}

.but:hover{
    background-color: #e8eaeb!important;
}

.operator, .clear, .pi{
    background-color: #dfe1e5 !important;
}

.operator:hover, .clear:hover, .pi:hover{
    background-color: #d7d9dd !important;
}

.equals{
    background-color: #3c7afc !important;
}

.equals:hover{
    background-color: #4782f9 !important;
}


.screen{
    text-align: right;
    font-size: 32px;

}

.display{
    height: 15vh;
    min-height: 80px;
    border: 1px solid grey;
    border-radius: 4px;
    margin:16px 0 8px 0;
    overflow: auto;

  
}

.sum{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}

.equals{
    color: #ffffff !important;
}

.btn{
    height: 15.4vh;
    font-size: 14px !important;
    border-radius: 4px !important;
    font-size: 24px !important;
}

.btn-group.btn-row {
    display: flex;
  }
  
  .btn-row .btn {
    flex: 1
  }
