<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Personal Website for Daniel Birkett, created by Daniel Birkett">
	<title>Password maker v2</title>


    <link rel="shortcut icon" type="image/x-icon" href="images/duck.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
   <link rel="stylesheet" type="text/css" href="./css/navStyle.css">
   <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="password_v2/style.css">
</head>

<body>
    <div class="header"></div>

    <div id="app">
        <div class="input-group" :hidden='hide.pin'> 
            <label class="input-group-label" for="pin" :hidden='hide.pin'>Enter pin:</label>
            {{ message }}
            <input class="input-group-input" ref="pin" type="number" v-on:keyup.enter="textBoxEntered('pin','word')" :hidden='hide.pin' v-model='pin' maxlength="4"> 
            <button class="input-group-button" v-on:click="textBoxEntered('pin','word')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.word'> 
            <label class="input-group-label" for="word" :hidden='hide.word'>Enter word:</label>
            <input class="input-group-input" ref="word" type="text" v-on:keyup.enter="textBoxEntered('word','length')" :hidden='hide.word' v-model='word' name="" id="" required>
            <button class="input-group-button" v-on:click="textBoxEntered('word','length')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.length'> 
            <label class="input-group-label"for="length" :hidden='hide.length'>Length of password:</label>
            <input class="input-group-input"ref="length" type="number" v-on:keyup.enter="textBoxEntered('length','uppercase')" :hidden='hide.length' v-model='attribute.length' min="6" max="16">
            <button class="input-group-button" v-on:click="textBoxEntered('length','uppercase')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.uppercase'> 
            <label class="checkbox-label"for="uppercase" :hidden='hide.uppercase' >Uppercase:</label>
            <input class="checkbox"ref="uppercase" v-on:keyup.enter="textBoxEntered('uppercase','lowercase')" :hidden='hide.uppercase' v-model='attribute.uppercase' type="checkbox">
            <button class="input-group-button" v-on:click="textBoxEntered('uppercase','lowercase')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.lowercase'> 
            <label class="checkbox-label"for="lowercase" :hidden='hide.lowercase' >Lowercase:</label>
            <input class="checkbox"ref="lowercase" v-on:keyup.enter="textBoxEntered('lowercase','number')" :hidden='hide.lowercase' v-model='attribute.lowercase'type="checkbox">
            <button class="input-group-button" v-on:click="textBoxEntered('lowercase','number')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.number'> 
            <label class="checkbox-label"for="number" :hidden='hide.number'>Numbers:</label>
            <input class="checkbox"ref="number" v-on:keyup.enter="textBoxEntered('number','special')" v-model='attribute.number' :hidden='hide.number' type="checkbox">
            <button class="input-group-button" v-on:click="textBoxEntered('number','special')">enter</button>
        </div>
        <div class="input-group" :hidden='hide.special'> 
            <label class="checkbox-label"for="special" :hidden='hide.special'>Special Characters:</label>
            <input class="checkbox"ref="special" v-on:keyup.enter="textBoxEntered('special','password'); generatePassword()" v-model='attribute.special' :hidden='hide.special' type="checkbox">
            <button class="input-group-button" v-on:click="textBoxEntered('special','password'); generatePassword()">enter</button>
        </div>
        <div class="input-group" :hidden='hide.password'> 
            <label class="input-group-label"for="password" :hidden='hide.password'>Password:</label>
            <input id="password" class="input-group-input"ref="password" v-model='password' :hidden='hide.password' type="text" readonly>
            <button class="input-group-button" v-on:click="copyText()">copy</button>
        </div>

        <input type="text" name="" id="" style="margin-left: -200px;"> <!-- for some reason an empty none hidden input class="input-group-input"is needed to allow the focusinput class="input-group-input"to work properly-->

    </div>

    <script src="./emailBuilder/jquery-3.4.1.js"></script>
    <script src="./header/header.js"></script>
    <script src="./header/navScript.js"></script>
    <script src="./header/menuScript.js"></script>
    <script src="password_v2/vue.js"></script>
    <script src="password_v2/main.js"></script>

</body>

</html>