<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Personal Website for Daniel Birkett, created by Daniel Birkett">
	<title>Password maker</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/duck.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
   <link rel="stylesheet" type="text/css" href="./css/navStyle.css">
   <link rel="stylesheet" type="text/css" href="./css/style.css">
   <link rel="stylesheet" href="css/league_player_search_style.css">

</head>


<body>
    <div class="header"></div>

    <div id="app">
        <div class="container pt-3">
            <div class="row m-3">
                <label for="input">Enter password</label>
                <input class="input col-12 justify-content-center" type="text" v-model='input'>
            </div>
            <div class="row pt-3 m-3">
                <textarea style="resize:none" class="col-12 justify-content-center" id="output" rows="1" readonly >{{ output }}</textarea>
                <button class="col-12 btn btn-primary justify-content-center mt-3 p-1" @click='copyOutput'> <span v-if='copied'>Copied </span> <span v-else>Copy</span> </button> 

            </div>
        </div>
        

    </div>
    
<script src="passwordGenerator/vue.js"></script>
<script src="passwordGenerator/main.js"></script> 
<script src="./emailBuilder/jquery-3.4.1.js"></script>
<script src="./header/header.js"></script>
<script src="./header/navScript.js"></script>
<script src="./header/menuScript.js"></script>

</body>
</html>